

body {
    background-color: bisque;
}

.fullPage {
    max-width: 90%;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 15px;
    box-shadow: 3px 3px 7px -2px;

.footerLinks {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    margin-top: 3em;
}

/* #navLinks {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

#navLinks li {
    display: inline-block;
    
} */

/* #navLinks ul {
    list-style-type: none;
} */

.page-footer h4 {
    margin-top: 3em;
    text-align: center;
}

footer ul {
    justify-content: space-around;
}
/* .technologiesList {
    list-style-type: circle;
} */