@import "~bootstrap/scss/bootstrap";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

// .homeImg {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     max-height: 100%;
//     margin-top: 0%;
//     background-size:100% 100%;
//     background-repeat: no-repeat;
// }

#bioPage {
padding-top: 2%;
}

h1 {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    font-family: 'Julius Sans One', sans-serif;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 25%;
    right: 25%;
    top: 5%;
}

h2 {
    text-align: center;
}

h3 {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}


.fullPage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 20%;
    right: 20%;
    top: 20%;
    background-color: none;
}


.footer {
    color: white;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    top: 325%;
}

.footerLinks {
    position: absolute;
    z-index: 999;
    margin: 0 auto;

}

.page-footer {
    color: white;
     position: absolute;
    z-index: 999;
    margin: 0 auto;
    top: 320%;
}

