
.icons {
  font-size: 5.5rem;
  padding: 2%;
  color: black;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 2%;
  right: 2%;
  top: 55%;
}

i {
    margin: 1%;
}

.tech-container {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 6%;
    right: 6%;
    top: 60%;
}