@import "~bootstrap/scss/bootstrap";

#imageContainer {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 15%;
  right: 25%;
  top: 100%;
}

#imageContainer img {
  text-align: center;
  width: 50%;
  height: 70%;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 15%;
  right: 25%;
  top: 100%;
}

.projectMove {
  border: none;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 15%;
  right: 25%;
  top: 100%;
}

.project-container {
  color: white;
  // border: none;
  // display: flex;
  // justify-content: space-evenly;
  // padding-top: 5%;
  // padding-bottom: 0%;
  // flex-wrap: nowrap;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 15%;
  right: 25%;
  top: 100%;
}


.project {
  // border: 1px solid black;
  // margin: 0px 15px 30px 15px;
  // padding: 15px;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 15%;
  right: 25%;
  top: 100%;
}

.projectBody {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 15%;
  right: 25%;
  top: 100%;
}

.navbar {
  max-width: 100%;
  // width: 90%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 999;
  margin: 1%;
  left: 18%;
  right: 20%;
  top: 10%;
}