@import "~bootstrap/scss/bootstrap";

.imageContainer {
  text-align: center;
  width: 100%;
  z-index: 999;
  margin: 0 auto;
  top: 100%;
  height: 300px;
}

.imageContainer img {
  text-align: center;
  width: 100%;
  z-index: 999;
  margin: 0 auto;
  top: 100%;
}

.projectMove {
  z-index: 999;
  margin: 0 auto;
  top: 100%;
}

.project-container {
  color: black;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 10%;
  right: 10%;
  top: 110%;
}

.project {
  margin: 50 auto;
  width: 45%;
}

.project-description {
  color: black;
  z-index: 999;
  margin: 0 auto;
  left: 15%;
  right: 25%;
  top: 100%;
}

.projectBody {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  max-width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 999;
  margin: 1%;
  left: 18%;
  right: 20%;
  top: 10%;
}